{{! Copyright 2024 Jean-Baptiste Louvet-Daniel
   - 
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v\. 2\.0\. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla\.org/MPL/2\.0/\. }}

<div class="inline-roll">
    <div class="dice-tooltip">
        <section class="tooltip-part">
            <div class="dice">
                <header class="part-header flexrow">
                    <span class="part-formula">{{raw}}</span>

                    <span class="part-total">{{result}}</span>
                </header>
                {{#if arrayExplanation.length}}
                <ol class="dice-rolls">
                    {{#each arrayExplanation}}
                    <li>{{{this.offset}}}<b>{{{this.name}}}</b> = {{this.value}}</li>
                    {{#if this.dice}}
                    <li>{{{this.dice}}}</li>
                    {{/if}} {{/each}}
                </ol>
                {{/if}}
            </div>
        </section>
    </div>
</div>
