{{! Copyright 2024 Jean-Baptiste Louvet-Daniel
   -
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v\. 2\.0\. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla\.org/MPL/2\.0/\. }}

<div class="custom-system-form-field">
    <label for="activeEffectTitle"> {{localize 'CSB.ComponentProperties.ActiveEffectContainer.TableTitle'}}</label>
    <input type="text" id="activeEffectTitle" data-key="title" value="{{title}}" />
</div>

<div class="custom-system-form-field">
    <label for="activeEffectNameLabel">{{localize 'CSB.ComponentProperties.ActiveEffectContainer.ActiveEffectRefColLabel'}}</label>
    <input id="activeEffectNameLabel" type="text" data-key="nameLabel" value="{{staticRowLayout.name.colName}}" />
</div>

<div class="custom-system-form-field">
    <label for="activeEffectNameAlign">{{localize 'CSB.ComponentProperties.ActiveEffectContainer.ActiveEffectRefColAlign'}}*</label>
    <select id="activeEffectNameAlign" data-key="nameAlign">
        {{selectOptions ALIGNMENTS selected=staticRowLayout.name.align localize=true}}
    </select>
</div>

<div class='custom-system-form-field'>
    <label for='activeEffectHeadDisplay'>{{localize 'CSB.ComponentProperties.ExtensibleTable.DisplayColumnName'}}</label>
    <input type='checkbox' id='activeEffectHeadDisplay' data-key='headDisplay' {{checked headDisplay}} />
</div>

<div class='custom-system-form-field'>
    <label for='activeEffectHead'>{{localize 'CSB.ComponentProperties.ExtensibleTable.ColumnNameBold'}}</label>
    <input type='checkbox' id='activeEffectHead' data-key='head' {{checked head}} />
</div>

<div class="custom-system-form-field">
    <label for="activeEffectHideEmpty">{{localize 'CSB.ComponentProperties.ActiveEffectContainer.HideEmpty'}}</label>
    <input type="checkbox" id="activeEffectHideEmpty" data-key="hideEmpty" {{checked hideEmpty}} />
</div>

<div class="custom-system-form-field">
    <label for="activeEffectShowDelete">{{localize 'CSB.ComponentProperties.ActiveEffectContainer.ShowActiveEffectDeleteButton'}}</label>
    <input type="checkbox" id="activeEffectShowDelete" data-key="showDelete" {{checked showDelete}} />
</div>

<div class="custom-system-form-field">
    <label for="activeEffectDeleteWarning">{{localize 'CSB.ComponentProperties.ActiveEffectContainer.ShowConfirmationDialogOnActiveEffectDelete'}}</label>
    <input type="checkbox" id="activeEffectDeleteWarning" data-key="deleteWarning" {{checked deleteWarning}} />
</div>
<div class="custom-system-form-field">
    <label for="activeEffectShowCreateButton">{{localize 'CSB.ComponentProperties.ActiveEffectContainer.ShowCreateButton'}}</label>
    <input type="checkbox" id="activeEffectShowCreateButton" data-key="showCreateButton" {{checked showCreateButton}} />
</div>