{{! Copyright 2024 Jean-Baptiste Louvet-Daniel
   - 
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v\. 2\.0\. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla\.org/MPL/2\.0/\. }}

<div class='custom-system-form-field'>
    <label for='labelStyle'>{{localize 'CSB.ComponentProperties.Label.LabelStyle.SectionTitle'}}*</label>
    <select id='labelStyle' data-key='style'>
        {{selectOptions LABEL_STYLES selected=style localize=true}}
    </select>
</div>

<div class='custom-system-form-field'>
    <label for='labelSize'>{{localize 'CSB.ComponentProperties.Size.SectionTitle'}}*</label>
    <select id='labelSize' data-key='size'>
        {{selectOptions COMPONENT_SIZES selected=size localize=true}}
    </select>
</div>

<div class='custom-system-form-field'>
    <label for='labelText'>{{localize 'CSB.ComponentProperties.Label.LabelText'}}
        {{> icon-formula}}
    </label>
    <textarea id='labelText' data-key='value'>{{value}}</textarea>
    <div id='labelTextEditor' class="custom-system-dialog-editor editor prosemirror" style="display: none;">
        <div class="editor-content" data-key='value'></div>
    </div>
</div>

<div class='custom-system-form-field'>
    <label for='labelRichText'>{{localize 'CSB.ComponentProperties.Label.UseRichTextEditorForLabel'}}</label>
    <input type='checkbox' id='labelRichText' name='editorToggle' />
</div>

<div class='custom-system-form-field'>
    <label for='labelPrefix'>{{localize 'CSB.ComponentProperties.Label.Prefix'}}
        {{> icon-formula}}
    </label>
    <textarea id='labelPrefix' data-key='prefix'>{{prefix}}</textarea>
</div>

<div class='custom-system-form-field'>
    <label for='labelSuffix'>{{localize 'CSB.ComponentProperties.Label.Suffix'}}
        {{> icon-formula}}
    </label>
    <textarea id='labelSuffix' data-key='suffix'>{{suffix}}</textarea>
</div>

<div class='custom-system-form-field'>
    <label for='labelIcon'>{{localize 'CSB.ComponentProperties.Label.Icon'}}
        {{> icon-info title=(localize "CSB.ComponentProperties.Label.FontAwesomeIconDescription")}}
    </label>
    <input id='labelIcon' type='text' data-key='icon' value='{{icon}}' />
</div>

<div class='custom-system-form-field'>
    <label for='labelRollMessage'>{{localize 'CSB.ComponentProperties.Label.RollMessage'}}
        {{> icon-formula}}
    </label>
    <textarea id='labelRollMessage' data-key='rollMessage' rows='10'>{{rollMessage}}</textarea>
    <div id='labelRollMessageEditor' class="custom-system-dialog-editor editor prosemirror" style="display: none;">
        <div class="editor-content" data-key='rollMessage'></div>
    </div>
</div>

<div class='custom-system-form-field'>
    <label for='rollRichText'>{{localize 'CSB.ComponentProperties.Label.UseRichTextEditorForRollMessage'}}</label>
    <input type='checkbox' id='rollRichText' name='editorToggle' />
</div>

<div class='custom-system-form-field'>
    <label for='labelRollMessageToChat'>{{localize 'CSB.ComponentProperties.Label.SendRollMessageToChat'}}</label>
    <input type='checkbox' id='labelRollMessageToChat' {{checked rollMessageToChat}} />
</div>

<div class='custom-system-form-field'>
    <label for='labelAltRollMessage'>{{localize 'CSB.ComponentProperties.Label.AltRollMessage'}}
        {{> icon-formula}}
        {{> icon-info title=(localize "CSB.ComponentProperties.Label.AltRollMessageDescription")}}
    </label>
    <textarea id='labelAltRollMessage' data-key='altRollMessage' rows='10'>{{altRollMessage}}</textarea>
    <div id='labelAltRollMessageEditor' class="custom-system-dialog-editor editor prosemirror" style="display: none;">
        <div class="editor-content" data-key='altRollMessage'></div>
    </div>
</div>

<div class='custom-system-form-field'>
    <label for='altRollRichText'>{{localize 'CSB.ComponentProperties.Label.UseRichTextEditorForAltRollMessage'}}</label>
    <input type='checkbox' id='altRollRichText' name='editorToggle' />
</div>

<div class='custom-system-form-field'>
    <label for='labelAltRollMessageToChat'>{{localize 'CSB.ComponentProperties.Label.SendAltRollMessageToChat'}}</label>
    <input type='checkbox' id='labelAltRollMessageToChat' {{checked altRollMessageToChat}} />
</div>