{{! Copyright 2024 Jean-Baptiste Louvet-Daniel
   - 
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v\. 2\.0\. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla\.org/MPL/2\.0/\. }}

<form class='{{cssClass}} {{item.type}} {{template}} custom-system-actor' autocomplete='off'>
    <div class='custom-system-actor-content'>
        {{! Sheet Header }}
        <header class='sheet-header'>
            <div
                class='profile-img-container'
                style='width: {{display.pp_width}}px; height: {{display.pp_height}}px; flex: 0 0 {{display.pp_width}}px'
            >
                <img class='profile-img' src='{{item.img}}' data-edit='img' title='{{item.name}}' />
            </div>
            <div class='header-fields'>
                <h1 class='itemname'>
                    <input name='name' type='text' value='{{item.name}}' placeholder='Name' />
                </h1>

                {{#if canReload}}
                    <div class='custom-system-sheet-actions'>
                        <div class='custom-system-template-select'>
                            <label for='template-{{item.id}}'> {{localize 'CSB.Sheets.Template'}} : </label>

                            <select id='template-{{item.id}}' name='system.template'>
                                {{selectOptions
                                    availableTemplates
                                    selected=system.template
                                    valueAttr='id'
                                    labelAttr='name'
                                }}
                            </select>
                            <a class='custom-system-reload-template' title='{{localize "CSB.Sheets.ReloadTemplate"}}'><i
                                    class='fas fa-sync'
                                ></i></a>
                            <a
                                class='custom-system-open-template'
                                title='{{localize "CSB.Sheets.OpenTemplateSheet"}}'
                            ><i class='fas fa-arrow-up-right-from-square'></i></a>
                        </div>
                    </div>
                {{/if}}
                {{#if isEditable}}
                    <div class='custom-system-sheet-actions'>
                        {{#unless isEmbedded}}
                            <label>
                                {{localize 'CSB.Sheets.MakeItemUnique'}}
                                <input
                                    type='checkbox'
                                    name='system.unique'
                                    class='custom-system-item-unique'
                                    {{checked system.unique}}
                                />
                            </label>
                        {{/unless}}
                        <input
                            type='button'
                            class='custom-system-see-attributes'
                            value='{{localize "CSB.Sheets.SeeHiddenAttributes"}}'
                        />
                        {{#if canEditModifiers}}
                            <input
                                type='button'
                                class='custom-system-configure-modifiers'
                                value='{{localize "CSB.Sheets.ConfigureItemModifier"}}'
                            />
                        {{/if}}
                    </div>
                {{/if}}

                <div class='custom-system-customHeader'></div>
            </div>
        </header>

        <div class='custom-system-customBody'></div>
    </div>
</form>